<div class="content-layout">
  <h1 id="page-title" class="content__title">Admin Page</h1>
  <div class="content__body">
    <p id="page-description">
      <span>
        This page retrieves <strong>admin messages</strong>.
      </span>
      <span>
        <strong>Only authenticated users with the <code>read:admin-messages</code> permission should access this page.</strong>
      </span>
    </p>
    <%= render partial: "layouts/partials/code_snippets", locals: { title: "Admin Messages", codes: @messages.map(&:verbose) } %>

  </div>
</div>