<div class="code-snippet">
  <span class="code-snippet__title"><%= title %></span>
  <div class="code-snippet__container">
    <div class="code-snippet__wrapper">
      <%= render partial: "layouts/partials/code_snippet", collection: @messages, as: :code  %>
    </div>
  </div>
</div>
 